@charset "utf-8";

// 基本样式初始化----------------------------------------------------------------------------------------

div,body,h1,h2,h3,h4,h5,h6,p,span,form,input,select,table,ul,li,a,ol{margin: 0;padding: 0}
img{border:none;display: block;}
a,select,option{text-decoration: none;color: #333;outline:none;}
a{&:link,&:visited,&:hover{text-decoration: none;}}
h1,h2,h3,h4,h5,h6{font-weight: normal}
textarea{resize:none;}
li{list-style: none}
html,body{width: 100%;height: 100%;font-size: 62.5%;}
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size: 1.4rem;}


//页面中常用公共样式-------------------------------------------------------------------------------------

.pagePadding{padding:10px 60px 10px 40px;}

.big_title{

}